.zoomable-toolbar-button {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1px 2px;
  color: rgb(255, 255, 255);
  transition: color 200ms ease 0s;
  background: none;
  padding: 0px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}
