.titles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.title-row {
  border: solid 1px;
  padding: 5px;
  width: 200px;
}

.title-row img {
  width: 150px;
}

.title-row h3 {
  min-height: 65px;
}

.title-item {
}

.section-container {
  margin-top: 20px;
}

.trophies {
  display: flex;
  gap: 2px;
}

.trophy {
  border: solid 1px;
  padding: 2px;
  width: 100px;
  text-align: center;
}

.title-trophies {
  margin-top: 10px;
}
