@import "assets/satoshi.css";
@import "assets/clashDisplay.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-[Satoshi-Medium] !important;
}

h1,
h2 {
  @apply font-[Clash-Medium] text-4xl text-foreground !important;
}

h3,
h4 {
  @apply font-[Clash-Regular] text-2xl text-foreground !important;
}

h5,
h6 {
  @apply font-[Clash-Regular] text-lg text-foreground !important;
}

.filter::placeholder {
  font-size: 14px;
  font-weight: 600;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-md bg-[#f7f4ed];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-400/90 rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400/70;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-md bg-[#f7f4ed];
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-400/90 rounded-lg;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400/70;
  }
}

.vertical-timeline-element-content {
  @apply bg-background shadow-none text-foreground md:p-[1em] p-0 !important;
}

.vertical-timeline-element-icon {
  @apply bg-gradient-to-r from-yellow-300 to-orange-500 text-background;
}

.vertical-timeline-element-content-arrow {
  @apply border-r-[7px] border-r-foreground !important;
}

.vertical-timeline::before {
  @apply bg-black dark:bg-white !important;
}

.dapp-core-component__transactionToast-styles__content,
.dapp-core-component__customToast-styles__close {
  @apply text-white bg-ring fill-black !important;
}

.dapp-core-component__transactionsToastList-styles__toasts,
.dapp-custom-toast,
.dapp-core-component__transactionsToastList-styles__toastWrapper {
  @apply bg-ring fixed bottom-14 right-10 !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply dark:bg-black bg-slate-50 text-foreground !important;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.go2072408551 {
  max-width: 40%;
}

.dapp-core-component__scamPhishingStyles__scam-phishing-alert .dapp-core-component__scamPhishingStyles__scam-phishing-alert-text,
.dapp-core-component__walletConnectLoginContainerStyles__xPortal-content,
.dapp-core-component__ledgerConnectStyles__login-connect-container .dapp-core-component__ledgerConnectStyles__login-connect-container-content {
  @apply text-black !important;
}

.dapp-core-component__addressTableStyles__ledger-address-table-wrapper {
  @apply text-black !important;
}

.dapp-core-component__ledgerLoadingStyles__ledger-loading-wrapper {
  @apply text-black !important;
}

.dapp-core-component__scamPhishingStyles__scam-phishing-alert.dapp-core-component__scamPhishingStyles__scam-phishing-alert-authorization {
  @apply text-black !important;
}

.dapp-core-component__confirmAddressStyles__ledger-confirm-address-heading {
  @apply text-black !important;
}
