@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Inter", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
}

$font-inter: "Inter", sans-serif;

/* Bootstrap overrides
-------------------------------------------------- */

$body: #000;
$headings-font-weight: 300 !important;
$primary: #1b46c2;
$light: #fafafa;
$card-border-radius: 0.75rem;
$card-inner-border-radius: subtract($card-border-radius, 1px);

$headings-font-weight: 300 !important;
$a: #1392ff;

$orangeB: #ffce00;
$blueMx: #3066ff;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/reboot";

// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/utilities";

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";

.darkLogo {
  display: none !important;
}

.lightLogo {
  display: block !important;
}

body {
  font-family: $font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// S: App : Trailblazer
.vertical-timeline-element-icon {
  background-color: #fff;
}

.dark {
  $custom-bg: #0f0f0f;
  $teal50: #e6fffa;
  $teal100: #b2f5ea;
  $teal200: #00c797;
  $orangeA: #ff7201;
  $mxDefiWalBG: #242527;

  /* redefine theme colors for dark theme */
  $primary: $orangeA;
  // $secondary: red;
  // $success: #222222;
  // $dark: $light;

  $theme-colors: (
    "primary": $orangeA,
    "secondary": $orangeB,
    "success": $success,
    "danger": $danger,
    "info": $indigo,
    "dark": $teal50,
    "light": $custom-bg,
  );

  /* redefine theme color variables */
  // @each $color, $value in $theme-colors {
  //     --#{$variable-prefix}#{$color}: #{$value};
  // }

  /* redefine theme color rgb vars (used for bg- colors) */
  // $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
  // @each $color, $value in $theme-colors-rgb {
  //     --#{$variable-prefix}#{$color}-rgb: #{$value};
  // }

  $body-color: $teal50;
  $body-bg: $custom-bg;
  $navbar-light-color: $teal50;
  $navbar-light-hover-color: $orangeB;
  $navbar-light-active-color: $teal50;

  $card-bg: $custom-bg;
  $border-color: $teal50;

  $dropdown-bg: $custom-bg;
  $dropdown-border-color: $orangeB;
  $dropdown-link-hover-bg: transparent;

  --light: #0f0f0f;
  --light-20: #0f0f0f88;

  // --#{$variable-prefix}body-color: #{$body-color};
  // --#{$variable-prefix}body-bg: #{$body-bg};
  @import "bootstrap";

  body {
    font-family: $font-inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .cs-made-with-love {
    color: #fafafa;
  }

  .cs-made-with-love:hover {
    color: #fafafa;
    opacity: 0.8;
    text-decoration: none;
  }

  .dapp-name,
  .dapp-name-mute {
    color: #fafafa !important;
  }

  .lightLogo {
    display: none !important;
  }

  .darkLogo {
    display: block !important;
  }

  .cs-creator-link a {
    color: $orangeB !important;
  }

  // S: App : Trailblazer
  .vertical-timeline-element-content h2 {
    color: #0f0f0f;
  }

  .vertical-timeline-element-content {
    background-color: transparent;
    border: solid 1px $orangeA;
    box-shadow: 0 3px 0 $orangeA;
  }

  .vertical-timeline-element-icon {
    background-color: $orangeA !important;
    color: #000;
  }

  .vertical-timeline-element-content a h6 {
    color: #0f0f0f;
  }

  .table {
    color: $orangeA;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .btn-primary {
    color: $custom-bg;
  }

  .btn-outline-primary:hover {
    color: $custom-bg;
  }

  .text-info {
    color: #fff !important;
    font-weight: bold !important;
  }

  .c-actions {
    border-color: #e6fffa;
  }

  // Bootstrap overide
  .btn-primary {
    color: #fff;
  }

  .btn-outline-primary {
    color: #fff;
  }

  // Dapp Core
  .dapp-core-component__dappModalStyles__dappModalContent {
    background-color: $mxDefiWalBG;
  }

  .dapp-core-component__dappModalStyles__dappModalCloseButton {
    background-color: $mxDefiWalBG;
    color: #fff;
  }

  .dapp-core-component__dappModalStyles__dappModalBody {
    padding: 30px !important;
  }

  .dapp-core-component__addressTableStyles__ledger-address-table-header {
    background-color: #343a40 !important;
  }

  .dapp-core-component__addressTableStyles__ledger-address-table-navigation button {
    color: #fff !important;
  }

  .custom-box-border {
    border: 1px solid #939da7;
  }
}

.custom-classname.btn-primary {
  background-color: green;
}

.custom-box-border {
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.selected {
  box-shadow: 0px 0px 2px #b2f5ea, 0px 0px 4px #b2f5ea, 0px 0px 8px #b2f5ea, 0px 0px 12px #b2f5ea;
}

/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
}

.wrapper {
  min-height: 100vh;
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

/* Navbar
-------------------------------------------------- */
.dapp-logo {
  width: auto;
  height: 25px;
}

.dapp-name-mute {
  line-height: 1;
  padding-left: 3px;
  margin-left: 4px;
  font-size: 1.25rem;
  color: #0f0f0f !important;
}

.dapp-name {
  line-height: 1;
  padding-left: 3px;
  font-weight: bold;
  font-size: 1.25rem;
  color: #0f0f0f !important;
}

.c-theme-switcher {
  margin-top: 25px;

  @include media-breakpoint-up(md) {
    margin-top: 0px;
    margin-left: 20px;
  }
}

/* Dashboard
-------------------------------------------------- */
.action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0 7px;

  button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}

/* Home
-------------------------------------------------- */
.c-app-tile {
  .card-text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.dark .c-app-market-title,
.c-app-market-title {
  font-size: 3rem;
  padding: 40px 0 20px 0;
  font-weight: bold !important;
}

/* Sign Message
-------------------------------------------------- */
.sign-message {
  & h1 {
    font-size: 24px;
  }

  & textarea {
    min-height: 100px;
  }

  & button {
    align-self: center;
  }
}

.textarea-with-copy {
  position: relative;

  & a {
    position: absolute;
    right: 4px;
    bottom: 4px;
  }

  @include media-breakpoint-up(md) {
    min-width: 650px;
  }
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {
    .transaction-hash .trim {
      @include media-breakpoint-down(xl) {
        max-width: none;
      }
      @include media-breakpoint-down(lg) {
        max-width: 26rem;
      }
      @include media-breakpoint-down(md) {
        max-width: 12rem;
      }
      @include media-breakpoint-down(sm) {
        max-width: 8rem;
      }
    }

    td,
    tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Loader, Transaction success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Unlock
-------------------------------------------------- */
.c-unlock {
  .login-title {
    font-size: 1.5rem;
  }
}

/* My Listed
-------------------------------------------------- */
.c-my-listed {
  .count-title {
    font-size: 1.5rem;
  }

  .no-items {
    font-size: 1.5rem;
  }
}

/* My Wallet
-------------------------------------------------- */
.c-my-wallet {
  .count-title {
    font-size: 1.5rem;
  }

  .no-items {
    font-size: 1.5rem;

    .address-link {
      color: $blueMx;
    }
  }
}

.dark .c-my-wallet {
  .no-items {
    .address-link {
      color: $orangeB;
    }
  }
}

/* Footer
-------------------------------------------------- */
footer {
  div {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;

    a {
      color: $black;

      &:hover {
        color: $black;
      }

      #heart {
        height: 16px;
        width: 16px;

        path {
          fill: #c00;
        }
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.font-title {
  font-family: $font-inter;
}

.data-nft-image {
  max-width: 90%;
  margin: auto;
}

.data-app-image {
  max-width: 99%;
}

.custom-control-label::before {
  background-color: #28a745;
}

.custom-switch .custom-control-label::after {
  background-color: white;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: red;
}

@media screen and (max-width: 564px) {
  .ReactModal__Content.ReactModal__Content--after-open {
    margin-right: 5px !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.zoom-reset {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 2rem;
  left: 0;
  transform: translateY(-50%);
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 100px !important;
  z-index: 100;
}

.c-app-tile,
.dark .c-app-tile {
  max-width: 370px;
}

.c-app-tile {
  .card-title {
    font-size: 1.5rem;
    font-weight: 400 !important;
  }

  .card-body .mb-4 {
    max-height: 280px;
    overflow: hidden;
    text-align: center;
  }
}

.c-nft-tile {
  .card-body .mb-4 {
    text-align: center;
  }

  .c-identifier-link {
    font-size: 0.9rem;
  }
}

.c-marketplace-app {
  h1 {
    font-size: 3rem;
    padding: 20px 0 15px 0;
    font-weight: bold !important;

    @include media-breakpoint-up(sm) {
      font-size: 3rem;
    }
  }

  .hero {
    height: 150px;

    @include media-breakpoint-up(sm) {
      height: 300px;
    }

    img {
      border-radius: 30px;
    }
  }

  .body {
  }

  .footer {
  }

  .app-title {
    margin-bottom: 0.5rem;
  }

  .nfts-unlocks {
    font-size: 1.5rem;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

.text-info {
  color: #0f0f0f !important;
  font-weight: bold !important;
}

.c-actions {
  margin-top: 5px;
  border-top: solid 1px #0f0f0f;
  padding-top: 3px;
}

/* Apps Custom Styles
-------------------------------------------------- */

.trailblazer-view {
  .base-tile {
    .header {
      min-height: 65px;
      border-bottom: solid 1px;

      .title {
        max-width: 220px;
        margin: auto;
        font-size: 1.3rem;
      }
    }

    .body {
      display: flex;
      min-height: 100px;
      justify-content: space-around;
      align-items: center;
      border-bottom: solid 1px;

      .icon {
        font-size: 3rem;
      }

      .item {
        max-width: 155px;
      }

      .action {
        text-decoration: none;
        background-color: #ffce00;
        color: #000;
        padding: 3px 6px 3px 6px;
        border-top: 1px solid #ff7201;
        border-right: 1px solid #ffce00;
        border-bottom: 1px solid #ffce00;
        border-left: 1px solid #ff7201;
      }
    }

    .footer {
      display: flex;
      font-size: 0.8rem;
      justify-content: space-around;
      min-height: 30px;
      align-items: center;

      .added {
        margin-top: 10px;
      }

      .platform .icon {
        font-size: 2rem;
      }
    }
  }

  .base-tile.offer {
  }

  .base-tile.quest {
    .header {
      min-height: 45px;
      text-align: center;

      .title {
        max-width: initial;
      }
    }
  }

  .base-tile.leaderboard {
    .header {
      .title {
        max-width: initial;
      }
    }

    .body {
      .process-error {
        color: #ec5720;
      }
    }
  }

  .news-tile {
    h2 {
      color: #888;
    }

    a {
      color: #000;
    }
  }
}

.dark .trailblazer-view {
  .leaderboard .body table {
    color: #fff;
  }

  .news-tile {
    a {
      color: #fff;
    }
  }
}

.dark .modal-body::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  // background:lightgray;
  // border: 1px solid #3C3C3C;
  border-radius: 5px;
}

.dark .modal-body::-webkit-scrollbar-track {
  background: #374151; /* Set the background color of the scroll track */
}

.dark .modal-body::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scroll thumb */
  border-radius: 20px;
}

.dark .modal-body {
  scrollbar-color: #374151 #888;
}

/* Light vs Dark mode overides so they align
-------------------------------------------------- */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1140px !important;
  }
}

.fontsize-sm {
  font-size: .9rem !important;
}
